.home-page{
    text-align: center;
    padding:5%;
}

.home-page h1{
    color: #333;
    margin-bottom: 5%;
}

.login-link a,
.logout-button button{
    background-color: #007BFF;
    color: white;
    padding: 2% 4%;
    border-radius: 1%;
    cursor: pointer;
    font-size: 100%;
    text-decoration: none;
}

.qr-code{
    margin-top: 5%;
}