.home-page{
    text-align: center;
    padding:5%;
    padding-top: 0;
}

.home-page h1{
    color: #333;
    margin-bottom: 5%;
}

.picture{
    margin-top: 5%;
}

.login-link a,
.logout-link a{
    color: white;
    padding: 2% 4%;
    border-radius: 1%;
    cursor: pointer;
    font-size: 100%;
    text-decoration: none;
}

.login-link a{
    background-color: #007BFF;
}

.logout-link a{
    background-color: rgb(190, 32, 32);
}

.qr-code{
    margin-top: 5%;
}